<div class="bg">
  <div class="container">
    <h4 class="subtitle">WELCOME TO THE</h4>
    <div class="titles">
      <h2 class="title">GROCERY STORE</h2>
      <h2 class="title highlighted-title">MANAGEMENT SYSTEM</h2>
    </div>
    <p class="para">
      Streamline inventory, track orders, manage suppliers, and enhance store
      operations-all in one place. Log in to keep everything running smoothly.
    </p>
    <div class="separator"></div>
    <form (ngSubmit)="handleSubmit()" [formGroup]="signupForm" class="form">
      <h4 class="subtitle">CREATE AN ACCOUNT</h4>
      <label class="label" for="username">
        <span class="small">Username</span>
        <input
          formControlName="username"
          placeholder="Username"
          type="username"
          name="username"
          id="username"
        />
      </label>
      <label class="label" for="password">
        <span class="small">Password</span>
        <input
          formControlName="password"
          placeholder="Password"
          type="password"
          name="password"
          id="password"
        />
      </label>
      <label class="label" for="password">
        <span class="small">Confirm password</span>
        <input
          formControlName="confirmPassword"
          placeholder="Re-enter password"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
        />
      </label>
      <div class="flex">
        <h6 class="bottom-text">
          Already have an account?
          <span routerLink="/login" class="link">Login</span>
        </h6>
        <button [disabled]="!signupForm.valid" class="btn" type="submit">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
