.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  display: flex;
}

.sidebar {
  max-width: 30vw;
}

.header {
  flex-grow: 1;
  margin-left: 0 !important;
}
