<div class="container">
  <h5 class="greeting">Overview Analysis</h5>
  <div class="grid">
    <div class="grid-small">
      <h4 class="card-heading">Summary</h4>
      <div class="sub-grid">
        @for (card of cards; track $index) {
        <div class="card">
          <div class="top">
            <mat-icon class="icon" [fontIcon]="card.icon" />
            <h3 class="title">{{ "Total " + card.title }}</h3>
          </div>
          <div class="bottom">
            <div class="units">
              <h3 class="number">{{ card.units }}</h3>
              <h4 class="label">Units</h4>
            </div>
            @if (card.status > 0) {
            <div class="percentage">
              <mat-icon class="arrow" fontIcon="arrow_upward" />
              <h3 class="label">{{ card.status }}</h3>
            </div>
            } @else {
            <div class="percentage-red">
              <mat-icon class="arrow-down" fontIcon="arrow_downward" />
              <h3 class="label">{{ card.status }}</h3>
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
    <div class="grid-large">
      <div class="right-card-wrapper">
        <h4 class="card-heading">Total Orders</h4>
        <!-- <div class="heading">
          <p class="title">Analysis</p>
          <select
            (change)="setSelectedFilter($event)"
            class="select"
            name="selectedFilter"
          >
            <option value="lastWeek">Weekly</option>
            <option value="lastMonth">Monthly</option>
            <option value="last6Months">Last 6 Months</option>
            <option value="lastYear">Yearly</option>
          </select>
        </div> -->
        <div class="wrapper">
          <app-chart [orders]="filteredOrders" />
        </div>
      </div>
    </div>
  </div>
  <div class="inventory">
    <div class="title-bar">
      <h4 class="heading2">Stock Inventory</h4>
      <h4 routerLink="/stocks/high-demand" class="heading2 click">View All</h4>
    </div>
  </div>
  <div class="full">
    <app-table
      [datasource]="datasource"
      [displayedColumns]="displayedColumns"
    />
  </div>
</div>
